/node_modules
/public/hot
/storage/*.key
/storage/logs/
.env
.env.backup
.gitlab-ci.yml
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
htdocs
